.navigation {
  background-color: #e1ede6;
  height: 100px;
}
.navigation-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0 160px;
  align-items: center;
  height: 100%;
}

.navigation-item-house {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
}

.navigation-star {
  width: 21px;
  height: 21px;
}

.navigation-frame {
  display: flex;
}

.navigation-frame-quantity {
  color: red;
}
.navigation-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 470px;
}

.phone-call-img {
  width: 28px;
  height: 28px;
  margin-top: 5px;
}

.navigation-phone-btn {
  background: none;
  border: none;
}
