.reproduction-content {
  max-width: 1140px;
  margin: 40px 160px;
}

.reproduction-head {
  display: flex;
  gap: 63px;
  align-items: center;
  margin-bottom: 30px;
}
.reproduction-card-content {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.reproduction-header {
  justify-content: center;
  color: #2c2d35;
}
.reproduction-author {
  color: #86928b;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.reproduction-description {
  color: #2c2d35;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.reproduction-name {
  color: #2c2d35;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
}
.reproduction-price {
  color: #598d66;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.reproduction-btn {
  color: #598d66;
  padding: 21px 107px;
  border: 2px solid #598d66;
  background-color: #e1ede6;
  width: 310px;
  height: 65px;
}
.reproduction-btn-container {
  display: flex;
  gap: 40px;
}

.reproduction-card {
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e1ede6;
  width: 350px;
  margin: 0px;
}

.reproduction-pic {
  width: 310px;
}

.reproductionBtn-container {
  display: flex;
  gap: 32px;
}
.reproduction-activeBtn {
  padding: 10px 20px;
  width: 135px;
  height: 43px;
  background-color: #376b44;
  color: #f4f6f5;
  border-radius: 20px;
}

.reproduction-btn {
  padding: 10px 20px;
  width: 135px;
  height: 43px;
  background-color: #d4e8d9;
  color: #2c2d35;
  border-radius: 20px;
}
